<div>
    <input type="button" class="btn btn-primary" value="Новое дерево решения"
           ng-click="showCreateDecisionForm()"/>
    <input type="button" class="btn btn-primary" value="Обновить дерево"
           ng-click="showUpdateDecisionForm(0)"/>
    <input type="button" class="btn btn-primary" value="+ объект решения"
           ng-click="showAddDecisionObjectForm()"/>
    <input type="button" class="btn btn-primary" value="+ критерий"
           ng-click="showAddCriterionForm()"/>
    <input type="button" class="btn btn-primary" value="Подтвердить"
           ng-click="submitForm()" />
</div>

<br/>

<div ng-model="decision.sessionName" class="col-sm-offset-3 col-sm-9">
    <h4>
        <em>Решение: {{decision.sessionName}}</em>
    </h4>
</div>

<div ng-repeat="decisionItem in decision.decisionArray" class="col-sm-3 list-group">

    <div class="list-group-item">
        <span class="badge" title="Rate">{{decisionItem.finalRate}}</span>
        <h4>{{decisionItem.name}}:</h4>
        <ul ng-repeat="criterion in decisionItem.criteriaArray" class="list-group">
            <li class="list-group-item">
                <span class="badge" title="Rate">{{criterion.rate}}</span>
                {{criterion.id+1}}.&nbsp;{{criterion.name}}:
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge" title="Rate">{{criterion.valueRate}}</span>
                        {{criterion.value}}
                        <div>
                            <input type="button" class="btn btn-warning" value="Обновить значение"
                                   ng-click="showCriteriaToUpdateValueRate(decisionItem.id,criterion.id)"/>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>