<div>
    <input type="button" class="btn btn-primary" value="Add new decision"
           ng-click="showCreateDecisionForm()" />
    <input type="button" class="btn btn-primary" value="Update decision"
           ng-click="showUpdateDecisionForm(0)" />
    <input type="button" class="btn btn-primary" value="Add Criteria"
           ng-click="showAddCriteriaForm()" />
    <input type="button" class="btn btn-primary" value="Add Decision Object"
           ng-click="showAddDecisionObjectForm()" />
</div>
<div ng-model="decision.sessionName" class="col-sm-offset-3 col-sm-9">
    <h4>Session Name: {{decision.sessionName}}</h4>

</div>
<div ng-repeat="decisionItem in decision.decisionArray" class="col-sm-3">
    Decision object [{{decisionItem.id}}]: {{decisionItem.name}}
    <h5>Criterias:</h5>
    <ol>
        <li ng-repeat="criteria in decisionItem.criteriaArray">
            Name [{{criteria.id}}]:{{criteria.name}}; Rate:{{criteria.rate}}
            <br>
            Value:{{criteria.value}}; Rate:{{criteria.valueRate}}
            <input type="button" class="btn btn-primary" value="Update criteia"
                   ng-click="showCriteriaToUpdateValueRate(decisionItem.id,criteria.id)" />
        </li>
    </ol>
</div>