<!-- ko with: home -->
<div class="jumbotron">
    <h1>Decision</h1>
    <p class="lead">Build up your decision tree and submit it to get result</p>
    <p>@Html.ActionLink("Help", "Index", "Help", new { area = "HelpPage" }, null)</p>
</div>

<div class="container">
    <div ng-view>
    </div>
</div>

<!-- /ko -->
