<!-- ko with: home -->
<div class="jumbotron">
    <h1>Decision</h1>
    <p class="lead">Построй своё дерево решения и нажми кнопку "Подтвердить"</p>
    <p>@Html.ActionLink("Помощь", "Index", "Help", new { area = "HelpPage" }, null)</p>
</div>

<div class="container">
    <div ng-view>
    </div>
</div>

<!-- /ko -->
