<form class="form-horizontal" role="form">

    <div class="form-group">
        <label for="sessionName" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <input type="text" id="sessionName" name="sessionName" class="form-control"
                   ng-model="editableDecision.sessionName" />
        </div>
    </div>

    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-default" value="Cancel"
               ng-click="cancelForm()" />
        <input type="submit" class="btn btn-primary" value="Submit"
               ng-click="submitForm()" />
    </div>

</form>